{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Payments</title>#}
{##}
{#    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">#}
{##}
{#</head>#}
{#<body class="flex items-center justify-center h-screen">#}
{#    <div class="centered-div flex space-x-32">#}
{#        <div>#}
{#            <script async#}
{#              src="https://js.stripe.com/v3/buy-button.js">#}
{#            </script>#}
{##}
{#            <stripe-buy-button#}
{#              buy-button-id="buy_btn_1Oce1eH7wZCCmn5aepAQF2aH"#}
{#              publishable-key="pk_test_51OcOkAH7wZCCmn5aIaNQuaK4WaTHM11hYWabsa5B80fazE7SrnM2C6qPHUzdEXWgvTmA4TgQVy9GkChT9KXMr1Fx00yI66OBeW"#}
{#            >#}
{#            </stripe-buy-button>#}
{#        </div>#}
{#        <div>#}
{#            <script async#}
{#              src="https://js.stripe.com/v3/buy-button.js">#}
{#            </script>#}
{##}
{#            <stripe-buy-button#}
{#              buy-button-id="buy_btn_1OceMVH7wZCCmn5acSjhYDvx"#}
{#              publishable-key="pk_test_51OcOkAH7wZCCmn5aIaNQuaK4WaTHM11hYWabsa5B80fazE7SrnM2C6qPHUzdEXWgvTmA4TgQVy9GkChT9KXMr1Fx00yI66OBeW"#}
{#            >#}
{#            </stripe-buy-button>#}
{#        </div>#}
{#        <div>#}
{#            <script async#}
{#              src="https://js.stripe.com/v3/buy-button.js">#}
{#            </script>#}
{##}
{#            <stripe-buy-button#}
{#              buy-button-id="buy_btn_1OceQKH7wZCCmn5aLGSwg2QP"#}
{#              publishable-key="pk_test_51OcOkAH7wZCCmn5aIaNQuaK4WaTHM11hYWabsa5B80fazE7SrnM2C6qPHUzdEXWgvTmA4TgQVy9GkChT9KXMr1Fx00yI66OBeW"#}
{#            >#}
{#            </stripe-buy-button>#}
{#        </div>#}
{#    </div>#}
{#</body>#}
{#</html>#}