{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Letter</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="google-adsense-account" content="ca-pub-7002383551009684">
    <link rel="icon" type="image/x-icon" href="{% static 'flash.ico' %}" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7002383551009684"
     crossorigin="anonymous"></script>

</head>
<body class="flex items-center justify-center h-screen">
    <div class="centered-div">

        <form class="max-w-sm mx-auto" method="post" action="{% url 'submitted_info' %}">
            {% csrf_token %}

            <div class="mb-5">
            <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Your Full Name. The letter is addressed to this name.</label>
            <input type="text" id="full_name" name="full_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required>
            </div>

            <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Your email. The letter is sent to this email</label>
            <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="yourname@gmail.com" required>
            </div>

            <div class="mb-5">
            <label for="university" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Select a university</label>
            <select id="university" name="university" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option disabled selected>Select a university</option>
                <option>Harvard</option>
                <option>Yale</option>
                <option>Stanford</option>
                <option>Dartmouth</option>
                <option>Duke</option>
                <option>Princeton</option>
                <option>Uchicago</option>
            </select>
            </div>

            <div class="mb-5">
            <label for="decision" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Acceptance or Rejection?</label>
            <select id="decision" name="decision" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option disabled selected>Choose type</option>
                <option>Acceptance</option>
                <option>Rejection</option>
            </select>
            </div>

            <button type="submit" class="text-white bg-gray-900 hover:bg-gray-800 font-pj focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </div>
</body>
</html>