{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Letter</title>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <meta name="google-adsense-account" content="ca-pub-7002383551009684">
    <link rel="icon" type="image/x-icon" href="{% static 'flash.ico' %}" />

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7002383551009684"
     crossorigin="anonymous"></script>

</head>
<body class="flex flex-col items-center justify-center h-screen mt-5">
    <div class="centered-div p-5 mt-10">
        <p class="inline-flex px-4 py-1 text-base text-gray-900 border border-gray-200 rounded-full font-pj">Please, don't prank each other :)</p>
    </div>
    <div class="centered-div">

        <form class="max-w-sm mx-auto" method="post" action="{% url 'submitted_info' %}">
            {% csrf_token %}

            <div class="mb-5">
            <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Your Full Name. The letter is addressed to this name.</label>
            <input type="text" id="full_name" name="full_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="your full name" required>
            </div>

            <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Your email which you used on stripe for payment</label>
            <input type="email" id="email" name="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="yourname@gmail.com" required>
            </div>

            <div class="mb-5">
            <label for="university" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Select a university</label>
            <select id="university" name="university" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option disabled selected>Select a university</option>
                <option>Harvard</option>
                <option>Yale</option>
                <option>Stanford</option>
                <option>Dartmouth</option>
                <option>Duke</option>
                <option>Princeton</option>
                <option>Uchicago</option>
            </select>
            </div>

            <div class="mb-5">
            <label for="decision" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Acceptance or Rejection?</label>
            <select id="decision" name="decision" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                <option disabled selected>Choose type</option>
                <option>Acceptance</option>
                <option>Rejection</option>
            </select>
            </div>

            <div class="mb-5">
            <label for="alternate_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white font-pj">Email Address which you want to send decision letter to</label>
            <input type="email2" id="alternate_email" name="alternate_email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="yourname@gmail.com" required>
            </div>

            <button type="submit" class="text-white bg-gray-900 hover:bg-gray-800 font-pj focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>

    </div>
    <footer class="flex flex-col items-center justify-center h-screen p-7">
        <div class="centered-div">
            <p class="max-w-xl mx-auto text-base text-center leading-relaxed text-gray-600 mt-7">Our emails, infused with humor, emphasize the value of fact-checking and critical thinking. If they surprise you, see it as a fun prompt to question and verify information in our digital age. It's all part of learning, with a smile!</p>

            <hr class="mt-16 border-gray-200" />

            <p class="text-sm text-center text-gray-600 mb-10 mt-3">© Made by MK with ❤️</p>
        </div>
    </footer>
</body>
</html>